@model IMS_Project.Models.Customer

@{
    ViewBag.Title = "Customer";
    ViewBag.SubTitle = "Delete";
}

<h3>Esta seguro que desea eliminar?</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal ">
            <dt>
                <label>Nombre:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.First_Name)
            </dd>

            <dt>
                <label>Apellido:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Last_Name)
            </dd>

            <dt>
                <label>Usuario:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                <label>Contraseña:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                <label>Edad:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            

            <dt>
                <label>Fecha Nacimiento:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateofBirth)
            </dd>

           

            <dt>
                <label>Pais:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

           

            <dt>
                <label>Ciudad:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                <label>Codigo Postal:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

           

          

            <dt>
                <label>Celular:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile1)
            </dd>

           

            <dt>
                <label>Direccion:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>

           

            

        </dl>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/Content/Images/perfil.png" alt="" class="img-thumbnail" width="160" height="160" />
        </div>
    </div>
</div>
@using (Html.BeginForm("Delete", "Customer", new { id = @Model.CustomerID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Volver", "Index", null, new { @class = "" })
        <input type="submit" value="Delete" class="btn btn-danger col-md-offset-1" />
    </div>
}

